* {
    box-sizing: border-box;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

div#main {
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 290px;
    background: darkslategray;
}

#inputDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    background: darkseagreen;
}

.inputForm {
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.inputHolder {
    background: transparent;
    margin-left: 5px;
    transform: translateY(-13px);
}

.inputHolder p {
    background: transparent;
    font-size: 0.85rem;
    font-style: oblique;
    padding-left: 2px;
}

input {
    border: 1px solid darkslategray;
    height: 35px;
    border-radius: 5px;
    padding: 0px 5px;
    font-size: 1rem;
}

#fileButton {
    background: transparent;
    border: none;
    height: 18px;
    width: 240px;
}

.inputForm button {
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: gray;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
}

.inputForm button:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#logo {
    background: transparent;
    max-width: 500px;
    height: 100px;
    transform: translateY(50px);
}

.allImagesContainer {
    margin: 50px;
    margin-bottom: 30px;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    max-width: 100%;
    max-height: 100%;
}

.imageContainer {
    margin: 10px;
    text-decoration: none;
}

.imageContainer:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.035);
    -ms-transform: scale(1.035);
    transform: scale(1.035);
}

img.images {
    height: 300px;
    width: 300px;
    border: black 1px solid;
    border-radius: 5px;
}

a.imageContainer p {
    font-size: 20px;
    max-width: 300px;
    text-align: center;
}

div.moreButtonContainer {
    max-width: 100%;
    height: 75px;
    background: darkseagreen;
    padding-top: 20px;
}

#moreButton {
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    background: gray;
    color: white;
    font-size: 20px;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    padding-top: 8px;
    text-align: center;
}

#moreButton:hover {
    transition: all 0.3s ease;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}

footer {
    height: 40px;
    background: darkslategray;
    color: whitesmoke;
    padding-top: 11px;
    padding-left: 5px;
}

/* MODAL WINDOW BELOW */

div.modalOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 206, 209, 0.1);
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
}

div.modalWindow {
    width: 80%;
    height: 85%;
    border: black solid 1px;
    border-radius: 15px;
    overflow-y: overlay;
}

.imageDiv {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.modalImage {
    max-width: 100%;
    max-height: 300px;
}

h1#modalTitle {
    text-align: center;
    margin-top: 3px;
}

h2#modalDescription {
    text-align: center;
    font-size: 15px;
    margin-top: 3px;
}

div.modalOverlay h3 {
    background: transparent;
    margin-top: 5px;
    margin-bottom: 10px;
}

div.modalOverlay .inputHolder {
    height: 50px;
}

p#modalDate {
    text-align: center;
    font-size: 8px;
    font-style: italic;
    margin-top: 3px;
}

.modalInputContainer {
    background: darkseagreen;
    max-width: 100%;
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.flexModalInput {
    display: flex;
    background: transparent;
}

div.modalOverlay button {
    margin-left: 5px;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: gray;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
}

div.modalOverlay button:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

div.modalOverlay .commentsContainer {
    padding-left: 15px;
}

div.modalOverlay .commentDiv:first-child {
    padding-top: 20px;
}

div.modalOverlay .commentDiv:last-child {
    padding-bottom: 20px;
}

div.modalOverlay .commentDiv,
p,
span,
strong {
    color: whitesmoke;
    padding-top: 15px;
    background-color: transparent;
}

.commentsContainer {
    background: darkslategray;
}

.mainHeaderBlurred,
.allImagesBlurred,
.moreButtonBlurred,
.footerBlurred {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

@media (max-width: 960px) {
    header {
        height: 370px;
    }
    #inputDiv {
        height: 120px;
    }
    .inputForm {
        justify-content: center;
    }
}

@media (max-width: 740px) {
    .allImagesContainer {
        margin-left: 5px;
        margin-right: 5px;
    }
    img.images {
        height: 250px;
        width: 250px;
    }
}

@media (max-width: 640px) {
    header {
        height: 370px;
    }
    #inputDiv {
        height: 190px;
    }
    .allImagesContainer {
        margin-left: 0px;
        margin-right: 0px;
    }
    img.images {
        height: 200px;
        width: 200px;
    }
    .inputForm {
        width: 470px;
        justify-content: flex-start;
        transform: translateX(20px);
    }
}

@media (max-width: 557px) {
    div.modalOverlay h3 {
        margin-top: 15px;
        margin-left: 10px;
    }
    .modalInputContainer {
        height: 220px;
    }
    .flexModalInput {
        display: flex;
        flex-direction: column;
    }
    .inputHolder {
        margin-top: 5px;
    }
    div.modalOverlay button {
        margin-top: 18px;
    }
}

@media (max-width: 445px) {
    header {
        height: 500px;
    }
    #inputDiv {
        height: 330px;
    }
    .inputForm {
        justify-content: center;
        transform: translateX(0px);
    }
    #logo {
        width: 280px;
    }
    img.images {
        height: 300px;
        width: 300px;
    }
    .inputForm {
        justify-content: center;
        width: 120px;
    }
    #fileButton {
        width: 120px;
    }
    .inputForm button {
        transform: translateY(15px);
    }
}

@media (max-width: 290px) {
    #logo {
        width: 200px;
    }
}
